[project]
	description = A client-server Japanese mahjong game.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Qingyu Sui (sqybi)
[access "refs/for/refs/*"]
	read = group user/Qingyu Sui (sqybi)
	push = group user/Qingyu Sui (sqybi)
	label-Code-Review = -2..+2 group user/Qingyu Sui (sqybi)
	label-Verified = -1..+1 group user/Qingyu Sui (sqybi)
	rebase = group user/Qingyu Sui (sqybi)
	removeReviewer = group user/Qingyu Sui (sqybi)
	submit = group user/Qingyu Sui (sqybi)
[access "refs/heads/*"]
	read = group user/Qingyu Sui (sqybi)
	create = group user/Qingyu Sui (sqybi)
	push = +force group user/Qingyu Sui (sqybi)
	pushMerge = group user/Qingyu Sui (sqybi)
[access "refs/tags/*"]
	push = +force group user/Qingyu Sui (sqybi)
	pushTag = group user/Qingyu Sui (sqybi)
	pushSignedTag = group user/Qingyu Sui (sqybi)
